.widgetContainer {
  max-width: 1200px;
  margin: 20px;

  .title {
    display: inline-block;
    margin-bottom: 3px;
    color: #00acc1;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
