.root {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
  color: white;
  flex-direction: column;


  .firstRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .imageCon {
    width: 320px;
  }

  .image {
    width: 300px;
  }

  .details {
    margin-left: 30px;
  }

  .title {
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 1.2em;
    margin-bottom: 10px;

    & span {
      font-size: 0.6em;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .section {
    margin: 20px;
  }

  .sectionTitle {
    display: inline-block;
    margin-bottom: 3px;
    color: #00acc1;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .reviewBox {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid  #343a48;
  }

  .reviewAuthor {
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 5px;
  }

  .reviewContent {
    text-align: justify;
  }
}